.input-helpertext {
    color: red;
    font-weight: bold;
    font-style: italic;
    padding: 0 4px;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.step-button {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    background-color: var(--primary);
    color: #fff;
    transition: .4s;
}

.step-text {
    margin-top: 1vh;
}

.step-button[aria-expanded="true"] {
    width: 3vw;
    height: 3vw;
    background-color: var(--secondary);
    color: #fff;
}

.step-item {
    z-index: 10;
    text-align: center;
}

#progress {
    -webkit-appearance: none;
    position: absolute;
    width: 88%;
    z-index: 5;
    height: 10px;
    margin-left: 4vw;
    margin-bottom: 18px;
}

#progress::-webkit-progress-value {
    background-color: var(--secondary);
    transition: .5s ease;
}

#progress::-webkit-progress-bar {
    background-color: var(--primary);
}

/* Media Queries for Responsiveness */
@media (max-width: 991.98px) {
    .step-button {
        width: 5vw;
        height: 5vw;
    }

    .step-button[aria-expanded="true"] {
        width: 5vw;
        height: 5vw;
    }

    #progress {
        width: 85%;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .step-button {
        width: 8vw;
        height: 8vw;
    }

    .step-button[aria-expanded="true"] {
        width: 8vw;
        height: 8vw;
    }

    #progress {
        width: 85%;
        margin-left: 7vw;
    }
}

@media (max-width: 480px) {
    .step-button {
        width: 11vw;
        height: 11vw;
    }

    .step-text {
        font-size: 2.5vw;
    }

    .step-button[aria-expanded="true"] {
        width: 11vw;
        height: 11vw;
    }

    #progress {
        width: 85%;
        margin-left: 7vw;
    }
}
